<h1 class="todo_list_title">Nova Lista</h1>

<div class="forms">
    <%= render partial: 'form', locals: { text_custom: "Criar Lista" } %>
</div>

<div class="links">
    <%= link_to 'Voltar', todo_lists_path %>
</div>
